@import 'static/assets/fonts/ProximaNova/include.css';
@import 'carbon-components-svelte/css/white.css';
@import 'swiper/css';
@import 'swiper/css/navigation';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overscroll-behavior-y: contain !important;
}

a,
button,
input,
label {
	-webkit-tap-highlight-color : transparent !important;
	user-select: none !important;

	& * {
		user-select: none !important;
	}
}

.modal-open {
	overflow: hidden !important;
}

.custom-toggle {
	& * {
		-webkit-tap-highlight-color: transparent;
	}

	& .bx--toggle__switch {
		margin-top: 0;
	}

	& .bx--toggle__switch::before {
		background-color: #2E4057;
	}

	& .bx--toggle-input:checked +
		.bx--toggle-input__label > 
		.bx--toggle__switch:before  {
		background-color: #3AB795;
	}

	& .bx--toggle-input:checked +
		.bx--toggle-input__label > 
		.bx--toggle__switch:after  {
		background-color: #2E4057;
	}
}

.link-item {
	position: relative;

	display: block;
	inline-size: 36px;
	aspect-ratio: 1 / 1;

	user-select: none !important;
	text-decoration: none !important;

	& > img {
		object-fit: contain;
	}

	&:after {
		content: "";

		position: absolute;
		top: -5px;
		left: 50%;

		display: block;
		inline-size: 50%;
		block-size: 3px;
		border-radius: 10rem;

		background-color: #3AB795;

		transform: translateX(-50%) scale(0);
		transition: all .25s ease;
  }

	&.active {
		&:after {
			transform: translateX(-50%) scale(1);
		}
	}
}

.default-shadow {
	box-shadow: 0 0 15px 0 rgba(0 0 0 / 30%);
}

.menu-panel {
	@media (width > 640px) {
		box-shadow: 0 0 15px 0 rgba(0 0 0 / .3);
	}

	& > * {
		flex-shrink: 0;
		scroll-snap-align: center;
	}
}

a, button {
	-webkit-tap-highlight-color: transparent;
}

.custom-select {
	& .bx--multi-select {
		background-color: #2E4057;
		border-radius: 0.25rem; 
	}

	& .bx--list-box__label {
		color: #9ca3af;
	}

	& .bx--list-box__menu-icon > svg {
		fill: #FFFFFF;
	}

	& .bx--list-box__menu-icon {
		right: 2.5rem;
	}

	& .bx--list-box__field {
		padding: 0 3rem 0 .5rem;
	}

	& .bx--list-box__field:focus {
		outline-color: #3AB795;
	}
}

.bx--tooltip__trigger:not(.bx--btn--icon-only):focus {
	outline-color: #3AB795;
}

.custom-slider {
	& .bx--text-input.bx--slider-text-input {
		border-radius: 4px;
		border: 1px solid #2E4057;
		background-color: #FFFFFF;
	}

	& .bx--text-input:focus,
	& .bx--text-input:active {
		outline-color: #3AB795;
	}

	& .bx--slider__thumb, & .bx--slider__filled-track {
		background-color: #3AB795;
	}

	& .bx--slider__track {
		background-color: #2E4057;

		&:before {
			display: none;
		}
	}
}

.custom-number-input {
	& .bx--number__controls {
		right: 2.5rem;

		& button {
			border-color: #3AB795;
		}
	}

	& input[type="number"] {
		background-color: #2E4057;
		color: #FFFFFF;
		border: none;

		&:focus {
			outline-color: #3AB795;
		}
	}

	& .bx--number__control-btn {
		outline-color: #3AB795;

		& svg {
			fill: #FFFFFF;
		}

		&:after,
		&:before {
			background-color: transparent;
		}

		&:hover {
			background-color: #FFFFFF;

			& svg {
				fill: #2E4057;
			}
		}
	}

	& .bx--number__rule-divider {
		background-color: #FFFFFF;
	}
}

